body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: none !important;
}

/* Navbar Styles */
.navbar {
  background-color: #ced6e0;
  color: #000;
}

.navbar-brand {
  border: 2px solid #000;
  padding: 5px;
  font-size: 2rem;
  text-shadow: 0 2px 2px #eccc68;
}

.nav-item {
  font-size: 1.5rem;
  padding: 0 20px;
}

.nav-link {
  color: #000;
  transition: all .5s ease-in-out;
}

.nav-link:hover {
  color: #f0932b;
  border-bottom: 2px solid #000;
}

/* banner styles */
.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(#eccc68, #f0932b);
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: relative;
}

.banner {
  color: #000;
  margin-top: -4rem;
}

.banner-title {
  color: #fff;
}

.banner-link {
  font-size: 1.5rem;
  color: #fff;
  border: 0.2rem solid #000;
}

.banner-link:hover {
  background: #000;
  color: #f0932b;
}

/* Services */
#services {
  padding: 20px 20px;
  background-color: #ced6e0;
}

/* rooms details page */
#carouselExampleIndicators{
  margin: 50px;
}
.carousel-inner img{
  width: 100%;
  height: 550px;
  display: block;
}
.list li{
  margin: 0 25px 25px 25px;
}
li{
  list-style-type: none;
}
/* Loading */

.loader {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-inner {
  width: 100%;
  height: 100%;
  border: 1rem solid #162534;
  border-radius: 50%;
  border-top-color: #f0932b;
  border-bottom-color: #fff;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }

  50% {
    transform: scale(0.5) rotate(-360deg);
  }

  0% {
    transform: scale(1) rotate(360deg);
  }
}